<div class="card">
    <app-customer-personal-address-check *ngIf="mode == 'check'" (outputValue)="terimaValue($event)"> </app-customer-personal-address-check>
    <app-customer-personal-address-add *ngIf="mode == 'add' || mode =='edit'" [mode] = "this.mode"  [AddrId] = "this.AddrId" (outputValue)="terimaValue($event)"> </app-customer-personal-address-add>

    <div *ngIf="mode == 'check'"class="form-actions right" style="text-align: right;">
        <div class="px-3">
            <button type="submit" class="btn btn-raised btn-primary-2 mr-1" (click)="SaveAndSync()">
                <i class="far fa-check-square"></i>&nbsp;<span translate>Save and Sync</span>
            </button>
            <button type="submit" class="btn btn-raised btn-primary-2" (click)="SaveAndContinue()">
                <i class="far fa-check-square"></i>&nbsp;<span translate>Save and Continue</span>
            </button>
        </div>
    </div>
</div>
