<div class="mt-3">
	<div class="card">
		<div class="card-body">
			<div class="pl-3">
				<div class="form-body mt-1">
          
          <lib-ucSubsection [id]="'OthLiabilitiesId'" [title]="'Other Liabilities'" [panel]="'OtherLiabilities'">
          </lib-ucSubsection>
          <div class="row" id="OtherLiabilities">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label class="label-control" translate>No. of Open Agreements</label>
                </div>
                <div class="col-md-6">
                  <label class="label-control" translate> {{ ResViewOtherLiabilitiesObj.OpenAgrNum }} </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="label-control" translate>No. of Closed Agreements</label>
                </div>
                <div class="col-md-6">
                  <label class="label-control" translate> {{ ResViewOtherLiabilitiesObj.ClsdAgrNum }} </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label class="label-control" translate>Total Market Value</label>
                </div>
                <div class="col-md-6">
                  <label class="label-control" translate> IDR {{ ResViewOtherLiabilitiesObj.TtlMktValue | number: '.2':'en-US' }} </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="label-control" translate>Total Principal Arrears</label>
                </div>
                <div class="col-md-6">
                  <label class="label-control" translate> IDR {{ ResViewOtherLiabilitiesObj.TtlPrncplArrears | number: '.2':'en-US' }} </label>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

