<lib-ucviewgeneric [viewGenericObj]="viewCustJobDataEmp"></lib-ucviewgeneric>
<lib-ucviewgeneric [viewGenericObj]="viewCustJobDataAddressEmp"></lib-ucviewgeneric>

<lib-ucviewgeneric [viewGenericObj]="viewCustPreviousJobDataEmp"></lib-ucviewgeneric>
<lib-ucviewgeneric [viewGenericObj]="viewCustPreviousJobAddressEmp"></lib-ucviewgeneric>

<lib-ucviewgeneric [viewGenericObj]="viewCustJobDataEmpOthBiz"></lib-ucviewgeneric>
<lib-ucviewgeneric [viewGenericObj]="viewCustJobDataOthBizAdress"></lib-ucviewgeneric>

<!-- <lib-ucSubsection [id]="'ja'" [title]="'Job Address Info'" [panel]="'JobAddrInfoId'">
</lib-ucSubsection>
<div id="JobAddrInfoId"></div> -->
<!-- <lib-ucSubsection [id]="'AssetType'" [title]="'Other Business Address Info'" [panel]="'OthBizAddrInfoId'"></lib-ucSubsection>
<div id="OthBizAddrInfoId"></div> -->
