<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" id="horz-layout-colored-controls" translate>Payment Allocation</h4>
    </div>
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" [formGroup]="PaymentAllocForm" (ngSubmit)="PaymentAllocForm.valid && SaveForm()"
          #enjiForm="ngForm">
          <div class="form-body">
            <lib-ucSubsection [id]="'paymentAllocInfoId'" [title]="this.title" [panel]="'paymentAllocInfo'">
            </lib-ucSubsection>
            <div id='paymentAllocInfo'>
              <div class="form-group row">
                <label class="col-md-3  adins-required-label" translate>Payment Allocation Code</label>
                <div class="col-md-3">
                  <input type="text" id="PaymentAllocCode" class="form-control" formControlName="PaymentAllocCode"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && PaymentAllocForm.controls.PaymentAllocCode.invalid}">
                  <lib-uc-show-errors [control]="PaymentAllocForm.controls.PaymentAllocCode" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3  adins-required-label" translate>Payment Allocation Name</label>
                <div class="col-md-3">
                  <input type="text" id="PaymentAllocName" class="form-control" formControlName="PaymentAllocName"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && PaymentAllocForm.controls.PaymentAllocName.invalid}">
                  <lib-uc-show-errors [control]="PaymentAllocForm.controls.PaymentAllocName" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3  adins-label" translate>Is Active</label>
                <div class="col-md-3">
                  <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsActive" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions right">
            <button type="button" [routerLink]="[BackLink]" class="btn btn-raised btn-warning mr-1">
              <i class="fa fa-arrow-circle-left"></i>&nbsp;<span translate>Back</span>
            </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="far"></i>&nbsp;<span translate>Submit</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>