<div class="card">
  <div class="card-header header-title">
    <div class="row">
      <div class="col-md-8">
        <h4 class="form-section card-title" translate>Asset Scheme Member</h4>
      </div>
    </div>
  </div>
</div>
<div class="ucSearch-Button-Right">
  <span class="mr-1">
    <button type="button" class="backButton" [routerLink]="[CancelLink]" skipLocationChange>
      <i class="fa fa-arrow-left"> </i>&nbsp;<span translate>Back</span>
    </button>
    <button type="button" *ngIf="!AssetSchmHIsSystem" class="addButton" [routerLink]="[AddLink]" skipLocationChange
      [queryParams]="{AssetSchmHId:AssetSchmHId}">
      <i class="ft-plus-circle"></i>&nbsp;<span translate>Add</span>
    </button>
  </span>
</div>
<lib-ucviewgeneric [viewGenericObj]="viewGenericObj"></lib-ucviewgeneric>
<lib-ucpaging [searchObj]="inputPagingObj"></lib-ucpaging>