<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" name="UserAddEditForm" #UserAddEditForm="ngForm" novalidate
          (ngSubmit)="UserAddEditForm.form.valid && Save(UserAddEditForm)">
          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i>User Information</h4>
            <br>


            <div class="form-group row">
              <label class="col-md-3  adInsLabel">Username</label>
              <div class="col-md-9">
                <label>{{username}}</label></div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel">Employee Name</label>
              <div class="col-md-9">
                <label>{{refEmpObj.EmpName}}</label></div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel">Mobile Phone</label>
              <div class="col-md-9">
                <label>{{refEmpObj.MobilePhnNo1}}</label></div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel">Email</label>
              <div class="col-md-9">
                <label>{{refEmpObj.Email1}}</label></div>
            </div>

            <br>
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i>Change Password</h4>
            <br>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" for="Password">Old Password</label>
              <div class="col-md-9">
                <input type="password" class="form-control adInsInput" name="Password" required [(ngModel)]="Password"
                  #password="ngModel" [ngClass]="{ 'is-invalid': UserAddEditForm.submitted && password.invalid }">
                <div *ngIf="UserAddEditForm.submitted && password.invalid" class="invalid-feedback">
                  <div *ngIf="password.errors.required" class="adInsReqMsg" translate>This field is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3  adInsLabel" for="NewPassword">Password</label>
              <div class="col-md-9">
                <input type="password" class="form-control adInsInput" name="NewPassword" required [(ngModel)]="NewPassword"
                  #newPassword="ngModel" [ngClass]="{ 'is-invalid': UserAddEditForm.submitted && newPassword.invalid }">
                <div *ngIf="UserAddEditForm.submitted && newPassword.invalid" class="invalid-feedback">
                  <div *ngIf="newPassword.errors.required" class="adInsReqMsg" translate>This field is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3  adInsLabel" for="NewRePassword">Re-enter Password</label>
              <div class="col-md-9">
                <input type="password" class="form-control adInsInput" name="NewRePassword" required [(ngModel)]="NewRePassword"
                  #newRePassword="ngModel"
                  [ngClass]="{ 'is-invalid': UserAddEditForm.submitted && newRePassword.invalid }">
                <div *ngIf="UserAddEditForm.submitted && newRePassword.invalid" class="invalid-feedback">
                  <div *ngIf="newRePassword.errors.required" class="adInsReqMsg" translate>This field is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions">

            <button type="button" (click)="Back()" class="btn btn-raised btn-warning mr-1">
              <i class="far fa-window-close"></i>&nbsp;<span translate>Cancel</span>
            </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="far fa-check-square"></i>&nbsp;<span translate>Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
