<div class="card">
  <div class="card-header header-title">
    <div class="row">
      <div class="col-md-8">
        <h4 class="form-section card-title" translate>Office</h4>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="px-3">
      <form class="form form-horizontal" [formGroup]="OfficeForm" (ngSubmit)="OfficeForm.valid && SaveForm()"
        #enjiForm="ngForm">

        <lib-ucSubsection [id]="'OfficeDetailId'" [title]="'Office-' + this.pageType" [panel]="'OfficeDetail'">
        </lib-ucSubsection>
        <div id="OfficeDetail">

          <div class="form-group row adins-required">
            <label class="col-md-3  adInsLabel" translate>Office Code</label>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="OfficeCode"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && OfficeForm.controls.OfficeCode.invalid }">
              <lib-uc-show-errors [control]="OfficeForm.controls.OfficeCode" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>

          <div class="form-group row adins-required">
            <label class="col-md-3  adInsLabel" translate>Office Name</label>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="OfficeName"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && OfficeForm.controls.OfficeName.invalid }">
              <lib-uc-show-errors [control]="OfficeForm.controls.OfficeName" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3  adInsLabel" translate>Office Short Name </label>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="OfficeShortName">
              <lib-uc-show-errors [control]="OfficeForm.controls.OfficeShortName" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>

          <div class="form-group row adins-required">
            <label class="col-md-3  adInsLabel" translate>Office Type </label>
            <div class="col-md-4">
              <select class="form-control" style="width: auto" formControlName="OfficeType"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && OfficeForm.controls.OfficeType.invalid }"
                (change)="checkType()">
                <option *ngFor="let ot of allOfficeType" value="{{ot.Key}}">
                  {{ot.Value}}</option>
              </select>
              <lib-uc-show-errors [control]="OfficeForm.controls.OfficeType" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>

          <ng-container *ngIf="OfficeForm.controls.OfficeType.value == 'CG'">
            <div class="form-group row adins-required">
              <label class="col-md-3  adInsLabel" translate>Center Group Type </label>
              <div class="col-md-4">
                <select class="form-control" style="width: auto" formControlName="MrCenterGrpTypeCode"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && OfficeForm.controls.MrCenterGrpTypeCode.invalid }">
                  <option *ngFor="let ct of allCgType" value="{{ct.Key}}">
                    {{ct.Value}}</option>
                </select>
                <lib-uc-show-errors [control]="OfficeForm.controls.MrCenterGrpTypeCode" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </div>
            </div>
          </ng-container>

          <div class="form-group row adins-required">
            <label class="col-md-3  adInsLabel" translate>Hierarchy Level </label>
            <div class="col-md-4" *ngIf="HierarchyLvlDdl.isReady">
              <lib-ucdropdownlist [dropdownListObj]="HierarchyLvlDdl" [genericList]="listMaxHierarchyLvl" [isDisabled]="isDisabledHierarchyLvlDdl"
                [parentForm]="OfficeForm" [enjiForm]="enjiForm" [identifier]="'HierarchyLvl'" (callback)="changeHierarchy($event.selectedObj)">
              </lib-ucdropdownlist>
            </div>
          </div>
          <div [hidden]="OfficeForm.controls.OfficeType.value == 'HO'">
            <div class="form-group row">
              <div class="col-md-3 adins-required">
                <label class=" adInsLabel" translate>Office Parent </label>
              </div>
              <div class="col-md-4" [hidden]="OfficeForm.controls.HierarchyLvl.value == ''">
                <lib-uclookupgeneric [lookupInput]="InputLookupObj" [parentForm]='OfficeForm' [enjiForm]="enjiForm"
                  [identifier]="'lookupOfficeParent'" (lookup)="getLookUp($event)" *ngIf="InputLookupObj.isReady" #LookupParent>
                </lib-uclookupgeneric>
              </div>
            </div>
          </div>

          <div class="form-group row row adins-required">
            <label class="col-md-3  adInsLabel" translate>Konvensional/Syariah</label>
            <div class="col-md-4">
              <select class="form-control" style="width: auto" formControlName="KonSya"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && OfficeForm.controls.KonSya.invalid }">
                <option *ngFor="let ky of allKonSya" value="{{ky.Key}}">
                  {{ky.Value}}</option>
              </select>
              <lib-uc-show-errors [control]="OfficeForm.controls.KonSya" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>

          <div class="form-group row row adins-required">
            <label class="col-md-3  adInsLabel" translate>Office Class</label>
            <div class="col-md-4">
              <select class="form-control" style="width: auto" formControlName="MrOfficeClassCode"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && OfficeForm.controls.MrOfficeClassCode.invalid }">
                <option *ngFor="let oc of allOfficeClass" value="{{oc.Key}}">
                  {{oc.Value}}</option>
              </select>
              <lib-uc-show-errors [control]="OfficeForm.controls.MrOfficeClassCode" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>

          <div class="form-group row row adins-required">
            <label class="col-md-3  adInsLabel" translate>Holiday Scheme</label>
            <div class="col-md-4">
              <select class="form-control" style="width: auto" formControlName="HolidayScheme"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && OfficeForm.controls.HolidayScheme.invalid }">
                <option *ngFor="let hs of allHolidaySchm" value="{{hs.HolidaySchmHId}}">
                  {{hs.HolidaySchmName}}</option>
              </select>
              <lib-uc-show-errors [control]="OfficeForm.controls.HolidayScheme" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>

          <div class="form-group row row adins-required">
            <label class="col-md-3  adInsLabel" translate>Working Hour Scheme</label>
            <div class="col-md-4">
              <select class="form-control" style="width: auto" formControlName="WorkingHourScheme"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && OfficeForm.controls.WorkingHourScheme.invalid }">
                <option *ngFor="let oc of allWorkingHourSchm" value="{{oc.WorkingHourSchmHId}}">
                  {{oc.WorkingHourSchmName}}</option>
              </select>
              <lib-uc-show-errors [control]="OfficeForm.controls.WorkingHourScheme" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 adInsLabel">Active Status</label>
            <div class="col-md-4">
              <input type="checkbox" class="border-primary" formControlName="IsActive">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 adInsLabel">Have Cashier</label>
            <div class="col-md-4">
              <input type="checkbox" class="border-primary" formControlName="IsHaveCashier">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 adInsLabel">Office Close </label>
            <div class="col-md-4">
              <input type="checkbox" class="border-primary" formControlName="OfficeClose">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 adInsLabel">Allow APP Created </label>
            <div class="col-md-4">
              <input type="checkbox" class="border-primary" formControlName="AllowAppCreated">
            </div>
          </div>

        </div>
        <lib-ucaddress [addressObj]="inputAddressObj" [enjiForm]="enjiForm" [identifier]="'UcAddress'"
          [UCAddrForm]="OfficeForm"></lib-ucaddress>
        <!-- <lib-ucaddress [UCAddrForm]="OfficeForm" [enjiForm]="enjiForm" [identifier]="'UcAddress'" [default]="addressObj"
          [inputField]="inputFieldAddr">
        </lib-ucaddress> -->
        <lib-ucSubsection [id]="'ContactInfoId'" [title]="'Contact Information'" [panel]="'ContactInfo'">
        </lib-ucSubsection>
        <div id="ContactInfo">

          <div class="form-group row">
            <label class="col-md-3 adins-required-label adInsLabel" translate>Contact Person Name </label>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="CntctPersonName"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && OfficeForm.controls.CntctPersonName.invalid }">
              <lib-uc-show-errors [control]="OfficeForm.controls.CntctPersonName" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 adins-required-label adInsLabel" translate>Contact Person Job Title
            </label>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="CntctPersonJobTitle"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && OfficeForm.controls.CntctPersonJobTitle.invalid }">
              <lib-uc-show-errors [control]="OfficeForm.controls.CntctPersonJobTitle" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>

          <div class="form-group row adins-required">
            <label class="col-md-3  adInsLabel" translate>Email 1 </label>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="CntctPersonEmail1">
              <lib-uc-show-errors [control]="OfficeForm.controls.CntctPersonEmail1" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3  adInsLabel" translate>Email 2 </label>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="CntctPersonEmail2">
              <lib-uc-show-errors [control]="OfficeForm.controls.CntctPersonEmail2" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>

          <div class="form-group row adins-required">
            <label class="col-md-3  adInsLabel" translate>Mobile Phone 1 </label>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="CntctPersonMobilePhnNo1">
              <lib-uc-show-errors [control]="OfficeForm.controls.CntctPersonMobilePhnNo1" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3  adInsLabel" translate>Mobile Phone 2 </label>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="CntctPersonMobilePhnNo2">
              <lib-uc-show-errors [control]="OfficeForm.controls.CntctPersonMobilePhnNo2" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>
        </div>
        <lib-ucSubsection [id]="'TaxOfficeId'" [title]="'Tax Office'" [panel]="'TaxOffice'">
        </lib-ucSubsection>
        <div id="TaxOffice">
          <div class="form-group row">
            <div class="col-md-3">
              <label [ngClass]="{ 'adins-required-label': OfficeForm.controls.OfficeType.value == 'HO' || OfficeForm.controls.OfficeType.value == 'BRANCH'}" translate>Tax Office</label>
            </div>
            <div class="col-md-4">
              <lib-uclookupgeneric [lookupInput]="InputLookupTaxOfficeObj" [parentForm]='OfficeForm' [enjiForm]="enjiForm"
                [identifier]="'lookupTaxOffice'" (lookup)="getLookUpTaxOffice($event)" *ngIf="InputLookupTaxOfficeObj.isReady">
              </lib-uclookupgeneric>
            </div>
          </div>
        </div>
        <div class="form-actions right">
          <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="[CancelLink]" skipLocationChange>
            <i class="far fa-window-close"></i>&nbsp;<span translate>Cancel</span>
          </button>
          <button type="submit" class="btn btn-raised btn-primary">
            <i class="far fa-check-square"></i>&nbsp;<span translate>Save</span>
          </button>
        </div>
      </form>

    </div>
  </div>
</div>