<div class="ucSearch-Button-Right">
    <span class="mr-1">
      <button type="button" class="backButton" [routerLink]="[CancelLink]">
        <i class="fa fa-arrow-left"></i>&nbsp;<span translate>Back</span>
      </button>
      <button type="button" class="addButton" [routerLink]="[AddLink]"
        [queryParams]="{RefRoleId: this.RefRoleId}">
        <i class="ft-plus-circle"></i>&nbsp;<span translate>Add</span>
      </button>
    </span>
  </div>
  <lib-ucviewgeneric [viewGenericObj]="viewGenericObj"> </lib-ucviewgeneric>
  <lib-ucpaging id="memberUcPaging" [searchObj]="inputPagingObj"></lib-ucpaging>
