<section id="horizontal-form-layouts">
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3">
              <form class="form form-horizontal" name="OrgMdlStrucForm" #OrgMdlStrucForm="ngForm" novalidate
              (ngSubmit)="OrgMdlStrucForm.form.valid && Save(OrgMdlStrucForm, lookupBizUnit, lookupMdlStruc)" >
              <div class="form-body">
                <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Organization Model Structure Information</h4>
                <br />

                <div class="form-group row">
                  <label class="col-md-3  adInsLabel">Organization Model</label>
                  <div class="col-md-9">
                    <label>{{orgModelObj.orgMdlName}}</label></div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3  adInsLabel" for="lookupBizUnit">Business Unit Name</label>
                    <div class="col-md-9">
                        <!-- <lib-lookupbizunit #lookupBizUnit [lookupInput]="inputLookupObj2"> </lib-lookupbizunit> -->
                        <lib-uclookupgeneric #lookupBizUnit [identifier]="'lookupBizUnit'" [lookupInput]="inputLookupObj2"
                          [parentForm]='OrgMdlStrucForm'></lib-uclookupgeneric>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3  adInsLabel" for="orgMdlLvl">Level</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control adInsInput" name="orgMdlLvl" required [(ngModel)]="orgMdlLvl"
                        #OrgMdlLvl="ngModel" [ngClass]="{ 'is-invalid': OrgMdlStrucForm.submitted && OrgMdlLvl.invalid }">
                      <div *ngIf="OrgMdlStrucForm.submitted && OrgMdlLvl.invalid" class="invalid-feedback">
                        <div *ngIf="OrgMdlLvl.errors.required" class="adInsReqMsg" translate>This field is required</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                      <label class="col-md-3  adInsLabel" for="lookupMdlStruc">Parent</label>
                      <div class="col-md-9">
                          <lib-uclookupgeneric #lookupMdlStruc [identifier]="'lookupMdlStruc'" [lookupInput]="inputLookupObj"
                          [parentForm]='OrgMdlStrucForm'></lib-uclookupgeneric>
                      </div>
                    </div>

                  <div class="form-group row">
                    <label class="col-md-3  adInsLabel" for="isActive">Active Status</label>
                    <div class="custom-control custom-checkbox m-0">
                      <input type="checkbox" value="1" id="isActive" name="isActive" [(ngModel)]="isActive"
                        [checked]="isActive">
                    </div>
                  </div>
                  <div class="form-actions">

                      <button type="button" (click)="Back()" class="btn btn-raised btn-warning mr-1">
                        <i class="far fa-window-close"></i>&nbsp;<span translate>Cancel</span>
                      </button>
                      <button type="submit" class="btn btn-raised btn-primary">
                        <i class="far fa-check-square"></i>&nbsp;<span translate>Save</span>
                      </button>
                    </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
