<div class="card">
  <div class="card-body">
    <div class="px-3">
      <lib-ucviewgeneric [viewGenericObj]="viewGenericObj" #viewGeneric></lib-ucviewgeneric>
      <!-- <lib-ucSubsection [id]="'MainInfo'" [title]="'Main Info'" [panel]="'MainInfoId'">
      </lib-ucSubsection>
      <form class="form form-horizontal" id="MainInfoId">
        <div class="form-body">
          <div class="form-group row ">
            <label class="col-md-2 adInsLabel" translate>Customer No.</label>
            <div class="col-md-4">
              <a href="{{custUrl}}" target="_blank"><label style="color: blue; cursor: pointer; font-size: 12px;">{{this.tempCustObj?.CustNo}}</label></a>
            </div>
            <label class="col-md-2 adInsLabel" translate>Customer Name </label>
            <div class="col-md-4">
              <label>{{this.tempCustObj?.CustName}}</label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2  adInsLabel" translate>Gender </label>
            <div class="col-md-4">
              <label>{{this.tempMrGenderCode?.Descr}} </label>
            </div>
            <label class="col-md-2 adInsLabel" translate>Customer Model</label>
            <div class="col-md-4">
              <label>{{this.tempMrCustModelCode?.Descr}} </label>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-md-2 adInsLabel" translate>Birth Place </label>
            <div class="col-md-4">
              <label>{{this.tempCustPersonalObj?.BirthPlace}} </label>
            </div>

            <label class="col-md-2 adInsLabel" translate>ID Type </label>
            <div class="col-md-4">
              <label>{{this.tempMrIdTypeCode?.Descr}} </label>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-md-2 adInsLabel" translate>Birth Date </label>
            <div class="col-md-4">
              <label>{{this.tempCustPersonalObj?.BirthDt| date: 'dd-MMM-yyyy' }} </label>
            </div>
            <label class="col-md-2 adInsLabel" translate>ID Number </label>
            <div class="col-md-4">
              <label>{{this.tempCustObj?.IdNo}}</label>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-md-2 adInsLabel" translate>Tax Id No</label>
            <div class="col-md-4">
              <label>{{this.tempCustObj?.TaxIdNo}}</label>
            </div>
            <label class="col-md-2 adInsLabel" translate>ID Expired Date</label>
            <div class="col-md-4">
              <label>{{this.tempCustObj?.IdExpiredDt  | date: 'dd-MMM-yyyy' }}</label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 adInsLabel" translate>Mother Maiden Name</label>
            <div class="col-md-4">
              <label>{{this.tempCustPersonalObj?.MotherMaidenName}}</label>
            </div>
            <label class="col-md-2 adInsLabel" translate>Affiliation With Multifinance</label>
            <div class="col-md-4">
              <label>{{this.StatusAffiliate}}</label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 adInsLabel" translate>VIP</label>
            <div class="col-md-4">
              <label>{{this.StatusIsVip}}</label>
            </div>
            <label class="col-md-2 adInsLabel" translate>VIP Notes</label>
            <div class="col-md-4">
              <label>{{this.tempCustObj?.VipNotes}}</label>
            </div>
          </div>
        </div>
      </form> -->
    </div>
  </div>
</div>