<div class="ucSearch-Button-Right">
    <span class="mr-1">
        <button type="button" class="addButton" [routerLink]="['/Organization/JobTitle/Detail']" skipLocationChange translate>
            <i class="ft-plus-circle"></i>&nbsp;<span translate>Add</span>
        </button>
    </span>
</div>

<lib-ucpaging [searchObj]="inputPagingObj"></lib-ucpaging>
<!-- End Region UC Grid Footer -->
<!-- <i class="fa fa-plus-circle" [routerLink]="['/organization/refjobtitle/add']"
    style="position: absolute; right: 30px; bottom: 0; cursor: pointer; font-size: 36px"></i> -->
