<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" name="MasterTypeAddEditForm" #MasterTypeAddEditForm="ngForm" novalidate
          (ngSubmit)="MasterTypeAddEditForm.form.valid && Save(MasterTypeAddEditForm)">
          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Master Type Information </h4>
            <br>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" for="masterTypeCodeModel">Master Type Code</label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput" name="masterTypeCodeModel" required
                  [(ngModel)]="masterTypeCodeModel" #masterTypeCode="ngModel"
                  [ngClass]="{ 'is-invalid': MasterTypeAddEditForm.submitted && masterType.invalid }"
                  [attr.disabled]="type == 'edit' ? true : null">
                <div *ngIf="MasterTypeAddEditForm.submitted && masterTypeCode.invalid" class="invalid-feedback">
                  <div *ngIf="masterTypeCode.errors.required" class="adInsReqMsg" translate>This field is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3  adInsLabel" for="descrModel">Description</label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput" name="descrModel" required [(ngModel)]="descrModel"
                  #descr="ngModel" [ngClass]="{ 'is-invalid': MasterTypeAddEditForm.submitted && descr.invalid }">
                <div *ngIf="MasterTypeAddEditForm.submitted && descr.invalid" class="invalid-feedback">
                  <div *ngIf="descr.errors.required" class="adInsReqMsg" translate>This field is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3  adInsLabel" for="sandiBiModel">Description</label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput" name="sandiBiModel" required [(ngModel)]="sandiBiModel"
                  #sandiBi="ngModel">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3  adInsLabel" for="isActive">Active Status</label>
              <div class="custom-control custom-checkbox m-0">
                <input type="checkbox" value="1" id="isActive" name="isActive" [(ngModel)]="isActive"
                  [checked]="isActive">
              </div>
            </div>

          </div>
          <div class="form-actions">
            <button *ngIf=" type == 'edit'" type="button" (click)="Back()" class="btn btn-raised btn-warning mr-1">
              <i class="far fa-window-close"></i>&nbsp;<span translate>Cancel</span>
            </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="far fa-check-square"></i>&nbsp;<span translate>Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>