  <div class="pull-right">
      <button *ngIf="MrCustTypeCode == 'PERSONAL'" type="button" class="btn-primary-2" translate (click)="showModalCustFinData(ListCustPersonalFinData.length)"><i class="ft-plus-circle"></i> Add</button>
      <button *ngIf="MrCustTypeCode == 'COMPANY'" type="button" class="btn-primary-2" translate (click)="showModalCustFinData(ListCustCoyFinData.length)"><i class="ft-plus-circle"></i> Add</button>
  </div>
  
  <lib-ucSubsection [id]="'CustFinDataId'" [title]="'Financial Data'" [panel]="'CustFinData'"></lib-ucSubsection>
  <div id="CustFinData">
    <br>
    <div id="ListCustFinData" class="mb-3 px-3" style="overflow-x: auto;"> 
      <table class="table table-stripped table-bordered table-new">
        <thead>
          <tr class="table-header-2">
            <th class="text-center" translate>Date</th>
            <th class="text-center" translate>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ListCustPersonalFinData; let i = index">
            <td class="text-center">{{item.DateAsOf | date: 'dd-MMM-yyyy'}}</td>
            <td class="text-center">
              <a href="javascript:;" (click)="showModalCustFinData(i)" style="color: #246CFE;"><i class="ft-edit-2 font-medium-3 mr-1"></i></a>
              <a href="javascript:;" (click)="deleteModalCustFinData(i)" class="p-0" style="color: #246CFE;"><i class="ft-trash-2 font-medium-3 ml-1"></i></a>
            </td>
          </tr>
          <tr *ngFor="let item of ListCustCoyFinData; let i = index">
            <td class="text-center">{{item.DateAsOf | date: 'dd-MMM-yyyy'}}</td>
            <td class="text-center">
              <a href="javascript:;" (click)="showModalCustFinData(i)" style="color: #246CFE;"><i class="ft-edit-2 font-medium-3 mr-1"></i></a>
              <a href="javascript:;" (click)="deleteModalCustFinData(i)" class="p-0" style="color: #246CFE;"><i class="ft-trash-2 font-medium-3 ml-1"></i></a>
            </td>
          </tr>
          <tr *ngIf="(MrCustTypeCode == 'PERSONAL' && ListCustPersonalFinData.length <= 0) || (MrCustTypeCode == 'COMPANY' && ListCustCoyFinData.length <= 0)">
            <td class="text-center" colspan="2" translate>No Data Available</td>
          </tr>
        </tbody>
      </table>  
    </div>  
  
    <ng-template #ModalPersonalFinData let-modal>
      <div class="bg-light-blue-card">
        <form class="form form-horizontal" [formGroup]="CustPersonalFinDataForm" #CustFinDataForm="ngForm"
        (ngSubmit)="CustFinDataForm.form.valid && saveCustPersonalFinData()" *ngIf="MrCustTypeCode == 'PERSONAL'">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">
            {{IsAddFinData ? 'Add Financial Data' : 'Financial Data Date as of '}} {{CustPersonalFinDataForm.controls.DateAsOf.value | date: 'dd-MMM-yyyy'}}
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-body px-3">
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="DateAsOf" translate>Date As Of</label>
              <div class="col-md-12">
                <input type="date" [max]="BusinessDt | date: 'yyyy-MM-dd'" class="form-control adInsInput input-field-2" formControlName="DateAsOf"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustPersonalFinDataForm.controls.DateAsOf.invalid }" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustPersonalFinDataForm.controls.DateAsOf"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="MonthlyIncomeAmt" translate>Monthly Income</label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="MonthlyIncomeAmt"
                  (ngModelChange)="onChangeCustFinInput()"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustPersonalFinDataForm.controls.MonthlyIncomeAmt.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustPersonalFinDataForm.controls.MonthlyIncomeAmt"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="OtherIncomeAmt" translate>Other Income
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="OtherIncomeAmt"
                  (ngModelChange)="onChangeCustFinInput()"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustPersonalFinDataForm.controls.OtherIncomeAmt.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustPersonalFinDataForm.controls.OtherIncomeAmt" [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="MrSourceOfIncomeCode" translate>Source Of Other Income
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <select type="text" class="form-control adInsInput input-field-2" formControlName="MrSourceOfIncomeCode" style="width: 100%;"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustPersonalFinDataForm.controls.MrSourceOfIncomeCode.invalid }">
                  <option *ngFor="let item of sourceOfIncomeList" [value]="item.Key">{{item.Value}}</option>
                </select>
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustPersonalFinDataForm.controls.MrSourceOfIncomeCode"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row" *ngIf="mrMaritalStatCode == maritalConstant">
              <label class="col-md-12 adInsLabel label-field-2" for="SpouseMonthlyIncomeAmt" translate>Spouse Monthly Income Amount
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="SpouseMonthlyIncomeAmt"
                  (ngModelChange)="onChangeCustFinInput()"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustPersonalFinDataForm.controls.SpouseMonthlyIncomeAmt.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustPersonalFinDataForm.controls.SpouseMonthlyIncomeAmt"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="TotalIncomeAmt" translate>Total Income Amount</label>
              <div class="col-md-12">
                {{CustPersonalFinDataForm.controls.TotalIncomeAmt.value | number:'.2':'en-US'}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="MonthlyInstallmentAmt" translate>Monthly Installment Amount
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="MonthlyInstallmentAmt"
                  (ngModelChange)="onChangeCustFinInput()"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustPersonalFinDataForm.controls.MonthlyInstallmentAmt.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustPersonalFinDataForm.controls.MonthlyInstallmentAmt"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="MonthlyExpenseAmt" translate>Monthly Expense Amount
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="MonthlyExpenseAmt"
                  (ngModelChange)="onChangeCustFinInput()"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustPersonalFinDataForm.controls.MonthlyExpenseAmt.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustPersonalFinDataForm.controls.MonthlyExpenseAmt"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="NettIncomeAmt" translate>Net Income Amount</label>
              <div class="col-md-12">
                {{CustPersonalFinDataForm.controls.NettIncomeAmt.value | number:'.2':'en-US'}}
              </div>
            </div>
            <div class="form-group row" *ngIf="mrMaritalStatCode == maritalConstant">
              <label class="col-md-12 adInsLabel label-field-2" for="IsJoinIncome" translate>Is Join Income
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <ui-switch class="custom-switches"
                  uncheckedLabel="no" checkedLabel="yes" size="small"   
                  (valueChange)="onChangeCustFinInput()"
                  [formControlName]="'IsJoinIncome'">
                </ui-switch>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12" style="text-align: right">
                <button class="btn btn-raised btn-primary-2" type="button" (click)="calculatePersonalFinData()">
                  Calculate
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
           <div class="px-3">
            <button type="button" class="btn btn-outline-2 btn-raised" (click)="modal.dismiss()" translate><i class="far fa-window-close"></i>&nbsp;<span translate>Cancel</span></button>
            <button type="submit" class="btn btn-raised btn-primary-2" translate><i class="far fa-check-square"></i>&nbsp;<span translate>Save</span></button>
           </div>
        </div>
      </form>
      </div>
    </ng-template>
  
    <ng-template #ModalCoyFinData let-modal>
      <div class="bg-light-blue-card">
        <form class="form form-horizontal" [formGroup]="CustCompanyFinDataForm" #CustFinDataForm="ngForm"
        (ngSubmit)="CustFinDataForm.valid && saveCustCoyFinData()" *ngIf="MrCustTypeCode == 'COMPANY'">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">
            {{IsAddFinData ? 'Add Financial Data' : 'Financial Data Date as of '}} {{CustCompanyFinDataForm.controls.DateAsOf.value | date: 'dd-MMM-yyyy'}}
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          
          <div class="form-body px-3">
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="DateAsOf" translate>Date As Of</label>
              <div class="col-md-12">
                <input type="date" [max]="BusinessDt" class="form-control adInsInput input-field-2" formControlName="DateAsOf"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.DateAsOf.invalid }" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.DateAsOf" [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="GrossMonthlyIncomeAmt" translate>Gross Monthly Income Amount
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control" formControlName="GrossMonthlyIncomeAmt"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.GrossMonthlyIncomeAmt.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.GrossMonthlyIncomeAmt"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="GrossProfitAmt" translate>Gross Profit Amount
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="GrossProfitAmt"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.GrossProfitAmt.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.GrossProfitAmt"
                  [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="ReturnOfInvestmentPrcnt" translate>Return Of Investment Percentage
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="ReturnOfInvestmentPrcnt"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.ReturnOfInvestmentPrcnt.invalid }"
                  [options]="CurrencyMaskPrct" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.ReturnOfInvestmentPrcnt"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="ReturnOfEquityPrcnt" translate>Return Of Equity Percentage
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="ReturnOfEquityPrcnt"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.ReturnOfEquityPrcnt.invalid }"
                  [options]="CurrencyMaskPrct" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.ReturnOfEquityPrcnt"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="ReturnOfAssetPrcnt" translate>Return Of Asset Percentage
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="ReturnOfAssetPrcnt"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.ReturnOfAssetPrcnt.invalid }"
                  [options]="CurrencyMaskPrct" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.ReturnOfAssetPrcnt"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="ProfitMarginPrcnt" translate>Profit Margin Percentage
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="ProfitMarginPrcnt"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.ProfitMarginPrcnt.invalid }"
                  [options]="CurrencyMaskPrct" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.ProfitMarginPrcnt"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="CurrentRatioPrcnt" translate>Current Ratio Percentage
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="CurrentRatioPrcnt"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.CurrentRatioPrcnt.invalid }"
                  [options]="CurrencyMaskPrct" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.CurrentRatioPrcnt"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="DebtEquityRatioPrcnt" translate>Debt Equity Ratio Percentage
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="DebtEquityRatioPrcnt"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.DebtEquityRatioPrcnt.invalid }"
                  [options]="CurrencyMaskPrct" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.DebtEquityRatioPrcnt"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="InvTurnOverPrcnt" translate>Inventory Turn Over Percentage
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="InvTurnOverPrcnt"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.InvTurnOverPrcnt.invalid }"
                  [options]="CurrencyMaskPrct" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.InvTurnOverPrcnt"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="ArTurnOverPrcnt" translate>Account Receivable Turn Over
                Percentage
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="ArTurnOverPrcnt"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.ArTurnOverPrcnt.invalid }"
                  [options]="CurrencyMaskPrct" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.ArTurnOverPrcnt"
                  [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="GrowthPrcnt" translate>Growth Percentage
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="GrowthPrcnt"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.GrowthPrcnt.invalid }"
                  [options]="CurrencyMaskPrct" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.GrowthPrcnt"
                  [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors></div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="WorkingCapitalAmt" translate>Working Capital Amount
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="WorkingCapitalAmt"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.WorkingCapitalAmt.invalid }"/>
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.WorkingCapitalAmt"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="OthMonthlyInstAmt" translate>Other Monthly Installment Amount
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="OthMonthlyInstAmt"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.OthMonthlyInstAmt.invalid }"/>
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.OthMonthlyInstAmt"
                  [submit]="CustFinDataForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="Revenue" translate>Revenue
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="Revenue"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.Revenue.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.Revenue" [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="OprCost" translate>Operational Cost
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="OprCost"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.OprCost.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.OprCost" [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="ProfitBeforeTax" translate>Profit Before Tax
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="ProfitBeforeTax"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.ProfitBeforeTax.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.ProfitBeforeTax"
                  [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="CurrAsset" translate>Current Asset
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="CurrAsset"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.CurrAsset.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.CurrAsset"
                  [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="NetFixedAsset" translate>Net Fixed Asset
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="NetFixedAsset"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.NetFixedAsset.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.NetFixedAsset"
                  [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="TotalAsset" translate>Total Asset
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="TotalAsset"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.TotalAsset.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.TotalAsset"
                  [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="CurrLiablts" translate>Current Liabilities
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="CurrLiablts"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.CurrLiablts.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.CurrLiablts"
                  [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="LongTemrLiablts" translate>Long Term Liabilities
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="LongTemrLiablts"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.LongTemrLiablts.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.LongTemrLiablts"
                  [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="ShareholderEquity" translate>Shareholder Equity
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="ShareholderEquity"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.ShareholderEquity.invalid }"
                  [options]="{align: 'right', allowNegative: false}" />
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.ShareholderEquity"
                  [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 adInsLabel label-field-2" for="CurrRatio" translate>Current Ratio
                <span class="optional-text">(Optional)</span>
              </label>
              <div class="col-md-12">
                <input type="" currencyMask class="form-control adInsInput input-field-2" formControlName="CurrRatio"
                  [ngClass]="{ 'is-invalid': CustFinDataForm.submitted && CustCompanyFinDataForm.controls.CurrRatio.invalid }" 
                  [options]="{ thousands: ',', decimal: '.', align: 'right', allowNegative: true, allowZero:true, precision: 0, nullable: false }"/>
                <div class="message-box">
                  <lib-uc-show-errors [control]="CustCompanyFinDataForm.controls.CurrRatio"
                  [submit]="CustFinDataForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <div class="modal-footer">
          <div class="px-3">
            <button type="button" class="btn btn-outline-2 btn-raised" (click)="modal.dismiss()" translate><i class="far fa-window-close"></i>&nbsp;<span translate>Cancel</span></button>
            <button type="submit" class="btn btn-raised btn-primary-2" translate><i class="far fa-check-square"></i>&nbsp;<span translate>Save</span></button>
          </div>
        </div>
      </form>
      </div>
    </ng-template>
  </div>
  
  <form class="form form-horizontal" [formGroup]="CustAttrListForm" #enjiForm="ngForm"
    (ngSubmit)="enjiForm.form.valid && saveCustAttrContentAndNext()">
  
    <app-cust-attr-list [title]="'Customer Financial Attribute'" [CustId]="this.CustId"[enjiForm]="enjiForm"
      [parentForm]="CustAttrListForm" [identifier]="'AttrList'" [attrGroups]="attrGroups">
    </app-cust-attr-list>
  
    <div class="pb-3"></div>
  
    <app-cust-bank-acc-section-findata [CustId]="this.CustId"></app-cust-bank-acc-section-findata>
    
    <div class="form-actions right text-right mt-3">
      <div class="px-3">
        <button type="button" class="btn btn-raised btn-primary-2 mr-1" (click)="SaveAndSync()" translate>
          <i class="far fa-check-square"></i>&nbsp;<span translate>Save and Sync</span>
        </button>
        <button type="submit" class="btn btn-raised btn-primary-2" translate>
          <i class="far fa-check-square"></i>&nbsp;<span translate>Submit</span>
        </button>
      </div>
    </div>
  </form>
  