<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="card-header header-title">
        <div class="row">
          <div class="col-md-8">
            <h4 class="form-section card-title" translate>Negative Asset Registration</h4>
          </div>
        </div>
      </div>
      <div class="px-3">
        <form class="form form-horizontal" [formGroup]="AssetNegativeForm" #enjiForm="ngForm" novalidate
          (ngSubmit)="enjiForm.form.valid && Save()">
          <div class="form-body">
            <lib-ucSubsection [id]="'NegativeAssetSectionId'" [title]="'Negative Asset Information '+ pageType"
              [panel]="'NegativeAssetSection'"></lib-ucSubsection>
            <div id="NegativeAssetSection">
              <div class="form-group row adins-required">
                <label class="col-md-3 adInsLabel" for="RefEconomicSectorId" translate>Full Asset Name</label>
                <div class="col-md-9" *ngIf="pageType == 'add'">
                  <lib-uclookupgeneric [lookupInput]="inputLookupObj" [parentForm]='AssetNegativeForm'
                    [enjiForm]='enjiForm' [identifier]="'FullAssetName'"
                    (lookup)="getLookupAssetMasterResponse($event)"></lib-uclookupgeneric>
                </div>
                <div class="col-md-9" *ngIf="pageType == 'edit'" style="padding: 0;">
                  <div class="col-md-9 adInsLabel">{{fullAssetName}}</div>
                </div>
              </div>
              <div class="form-group row {{serial1Mandatory ? 'adins-required' : ''}}">
                <label class="col-md-3 adInsLabel" for="SerialNo1" translate>Serial No. 1</label>
                <div class="col-md-9">
                  <input type="text" class="form-control adInsInput" formControlName="SerialNo1"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetNegativeForm.controls.SerialNo1.invalid }"
                    [attr.disabled]="pageType == 'edit' || serial1Disabled ? true : null">
                  <lib-uc-show-errors [control]="AssetNegativeForm.controls.SerialNo1" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row {{serial2Mandatory ? 'adins-required' : ''}}">
                <label class="col-md-3 adInsLabel" for="SerialNo2" translate>Serial No. 2</label>
                <div class="col-md-9">
                  <input type="text" class="form-control adInsInput" formControlName="SerialNo2"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetNegativeForm.controls.SerialNo2.invalid }"
                    [attr.disabled]="pageType == 'edit' || serial2Disabled ? true : null">
                  <lib-uc-show-errors [control]="AssetNegativeForm.controls.SerialNo2" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row {{serial3Mandatory ? 'adins-required' : ''}}">
                <label class="col-md-3 adInsLabel" for="SerialNo3" translate>Serial No. 3</label>
                <div class="col-md-9">
                  <input type="text" class="form-control adInsInput" formControlName="SerialNo3"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetNegativeForm.controls.SerialNo3.invalid }"
                    [attr.disabled]="pageType == 'edit' || serial3Disabled ? true : null">
                  <lib-uc-show-errors [control]="AssetNegativeForm.controls.SerialNo3" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row {{serial4Mandatory ? 'adins-required' : ''}}">
                <label class="col-md-3 adInsLabel" for="SerialNo4" translate>Serial No. 4</label>
                <div class="col-md-9">
                  <input type="text" class="form-control adInsInput" formControlName="SerialNo4"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetNegativeForm.controls.SerialNo4.invalid }"
                    [attr.disabled]="pageType == 'edit' || serial4Disabled ? true : null">
                  <lib-uc-show-errors [control]="AssetNegativeForm.controls.SerialNo4" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row {{serial5Mandatory ? 'adins-required' : ''}}">
                <label class="col-md-3 adInsLabel" for="SerialNo5" translate>Serial No. 5</label>
                <div class="col-md-9">
                  <input type="text" class="form-control adInsInput" formControlName="SerialNo5"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetNegativeForm.controls.SerialNo5.invalid }"
                    [attr.disabled]="pageType == 'edit' || serial5Disabled ? true : null">
                  <lib-uc-show-errors [control]="AssetNegativeForm.controls.SerialNo5" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row adins-required">
                <label class="col-md-3 adInsLabel" for="MrNegAssetSourceCode">Negative Source</label>
                <div class="col-md-9">
                  <select formControlName="MrNegAssetSourceCode" class="form-control"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetNegativeForm.controls.MrNegAssetSourceCode.invalid }">
                    <option *ngFor="let item of negativeAssetSourceList" [value]="item.Key">
                      {{item.Value}}
                    </option>
                  </select>
                  <lib-uc-show-errors [control]="AssetNegativeForm.controls.MrNegAssetSourceCode"
                    [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" for="isActive">Active Status</label>
                <div class="col-md-9">
                  <input type="checkbox" formControlName="IsActive" [attr.disabled]="pageType == 'add' ? true : null">
                </div>
              </div>
              <div class="form-group row adins-required">
                <label class="col-md-3 adInsLabel" for="Notes">Notes</label>
                <div class="col-md-9">
                  <textarea class="form-control adInsInput" formControlName="Notes" required
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetNegativeForm.controls.Notes.invalid }"></textarea>
                  <lib-uc-show-errors [control]="AssetNegativeForm.controls.Notes" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions right">
            <button type="button" class="btn btn-raised btn-warning mr-1" (click)="Back()">
              <i class="far fa-window-close"></i>&nbsp;<span translate>Cancel</span>
            </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="far fa-check-square"></i>&nbsp;<span translate>Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>