<app-customer-company-address-check *ngIf="mode == 'check'"  (outputValue)="terimaValue($event)"> </app-customer-company-address-check>
<app-customer-company-address-add *ngIf="mode == 'add' || mode =='edit'" [mode] = "this.mode"  [AddrId] = "this.AddrId" (outputValue)="terimaValue($event)"> </app-customer-company-address-add>

<div *ngIf="mode == 'check'"class="form-actions right" style="text-align: right;">
    <button type="submit" class="btn btn-raised btn-primary" (click)="next()">
      <i class="far fa-check-square"></i>&nbsp;<span translate>Save and Continue</span>
    </button>
  </div>