<div class="row text-left">
  <div class="col-md-12" *ngIf="IsReady">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <div class="row">
            <div class="col-md-8">
              <h4 class="card-title" id="horz-layout-colored-controls" translate>Journal Media Group Fact Setting</h4>
            </div>
          </div>
        </div>
        <div class="px-3">
          <div class="form-body" id="JournalMediaEntitySetting" *ngIf="JrMGroupId != null">
            <div class="form-group row">
              <label class="col-md-2" translate>Sub System</label>
              <div class="col-md-4">
                {{ SubsystemDesc }}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2" translate>Transaction Type Code</label>
              <div class="col-md-4">
                {{ TransactionTypeCode }}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2" translate>Transaction Description</label>
              <div class="col-md-4">
                {{ TransactionDescription }}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2" translate>Group Name</label>
              <div class="col-md-4">
                {{ GroupName }}
              </div>
            </div>
          </div>
          <form class="form form-horizontal" [formGroup]="GroupFactForm"
            (ngSubmit)="GroupFactForm.valid && onAdd(enjiForm)" #enjiForm="ngForm">
            <lib-ucSubsection [id]="'FactListId'" [title]="'Fact List'" [panel]="'FactList'">
            </lib-ucSubsection>
            <div class="form-body" id="FactList">

              <div class="form-group row">
                <label class="col-md-2" translate>Fact Alias</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="FactAlias" [IsUpperCase]="false"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && GroupFactForm.controls.FactAlias.invalid }">
                  <lib-uc-show-errors [control]="GroupFactForm.controls.FactAlias" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
                <label class="col-md-2" translate>Fact Property</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="FactProperty" [IsUpperCase]="false"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && GroupFactForm.controls.FactProperty.invalid }">
                  <lib-uc-show-errors [control]="GroupFactForm.controls.FactProperty" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2" translate>Fact Type</label>
                <div class="col-md-4">
                  <lib-ucdropdownlist *ngIf="ddlFactTypeIsReady" [dropdownListObj]="ddlFactTypeObj"
                    [enjiForm]="enjiForm" [parentForm]="GroupFactForm" [identifier]="'FactType'"
                    [genericList]="ddlFactTypeGenericList">
                  </lib-ucdropdownlist>
                </div>
              </div>

              <div class="form-actions right">
                <button type="submit" class="btn btn-raised btn-primary" translate>
                  Add
                </button>
              </div>




              <div class="table-responsive" *ngIf="listGroupFact.length > 0">
                <table class="table text-center table-hover">
                  <thead>
                    <tr class="table-header">
                      <th>
                        <span class="thead-header" translate>NO</span>
                      </th>
                      <th>
                        <span class="thead-header" translate>FACT ALIAS</span>
                      </th>
                      <th>
                        <span class="thead-header" translate>FACT PROPERTY</span>
                      </th>
                      <th>
                        <span class="thead-header" translate>FACT TYPE</span>
                      </th>
                      <th>
                        <span class="thead-header" translate>ACTION</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listGroupFact;let i = index">
                      <td>{{ (1 + i) }}</td>
                      <td class="text-left">{{ item.DFactAlias }}</td>
                      <td class="text-left">{{ item.DFactProperty }}</td>
                      <td class="text-left">{{ item.TypeDesc }}</td>
                      <td>
                        <a *ngIf="item.JrMGroupDFactId == undefined" class="danger p-0" (click)="onDelete(i)">
                          <i class="ft-trash-2 font-medium-3 mr-2"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>


            </div>

            <div class="form-actions right">
              <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="[CancelLink]"
                [queryParams]="{JrMHeaderId: JrMHeaderId}" translate>
                <i class="fa fa-arrow-circle-left"></i> Cancel
              </button>
              <button type="button" (click)="onSubmit()" class="btn btn-raised btn-primary" translate>
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>