<div class="addEdit">
  <form class="form form-horizontal" [formGroup]="CustomerContactForm"
    (ngSubmit)="CustomerContactForm.valid && SaveValue()  " #enjiForm="ngForm">
    <div class="form-body">
      <lib-ucSubsection [id]="'emergencyContact'" [title]="'Emergency Contact'" [panel]="'emergencyContactId'">
      </lib-ucSubsection>
      <div id="emergencyContactId">

        <div class="form-group row">
          <label class="col-md-2 adins-required-label" translate>Contact Person Name</label>
          <div class="col-md-4" *ngIf="existingCustomerLookUpObj.isReady == true">
            <lib-uclookupgeneric [lookupInput]="existingCustomerLookUpObj" [parentForm]="CustomerContactForm"
              [enjiForm]="enjiForm" [identifier]="'ExistingCustomer'" (lookup)=getLookUpCustomer($event) (inputtedValue)="onTypeName($event)">
            </lib-uclookupgeneric>
          </div>
          <label class="col-md-2 adins-required-label" translate>Gender</label>
          <div class="col-md-4">
            <lib-ucdropdownlist [dropdownListObj]="ddlMrGenderCode" [parentForm]="CustomerContactForm" [enjiForm]="enjiForm"
            [identifier]="'MrGenderCode'"></lib-ucdropdownlist>
          </div>
        </div>

        <div class="form-group row  ">
          <label class="col-md-2 adins-label" translate>ID Type </label>
          <div class="col-md-4">
            <lib-ucdropdownlist [dropdownListObj]="ddlIdType" [parentForm]="CustomerContactForm" [enjiForm]="enjiForm"
            [identifier]="'MrIdTypeCode'" (callback)="onOptionIdTypeSelected($event)"></lib-ucdropdownlist>
            <lib-uc-show-errors [control]="CustomerContactForm.controls.MrIdTypeCode" [submit]="enjiForm.submitted">
            </lib-uc-show-errors>
          </div>
          <label class="col-md-2 adins-label" translate>Birth Place </label>
          <div class="col-md-4">
            <input type="text" class="form-control adInsInput" formControlName="BirthPlace"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerContactForm.controls.BirthPlace.invalid}">
            <lib-uc-show-errors [control]="CustomerContactForm.controls.BirthPlace" [submit]="enjiForm.submitted">
            </lib-uc-show-errors>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 adInsLabel" translate>ID No</label>
          <div class="col-md-4">
            <input type="text" class="form-control adInsInput" formControlName="IdNo"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerContactForm.controls.IdNo.invalid}">
          <lib-uc-show-errors [customPattern]="customPattern"  [control]="CustomerContactForm.controls.IdNo" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
          </div>
          <label class="col-md-2 adins-label" translate>Birth Date</label>
          <div class="col-md-4">
            <input type="date" class="form-control adInsInput" formControlName="BirthDt"
              [max]="businessDtMin | date: 'yyyy-MM-dd'"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerContactForm.controls.BirthDt.invalid}">
            <lib-uc-show-errors [control]="CustomerContactForm.controls.BirthDt " [submit]="enjiForm.submitted">
            </lib-uc-show-errors>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 adInsLabel" [ngClass]="{'adins-required-label' : tempKTPCheck==false} "
            translate>ID Expired Date</label>
          <div class="col-md-4">
            <input *ngIf="['NPWP','AKTA','EKTP'].includes(CustomerContactForm.controls.MrIdTypeCode.value)" readonly type="date" class="form-control" id="idExpDt" formControlName="IdExpiredDt">
            <input *ngIf="!['NPWP','AKTA','EKTP'].includes(CustomerContactForm.controls.MrIdTypeCode.value)" type="date" class="form-control adInsInput" formControlName="IdExpiredDt"
              [min]="businessDtMax | date: 'yyyy-MM-dd'"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerContactForm.controls.IdExpiredDt.invalid}">
            <lib-uc-show-errors [control]="CustomerContactForm.controls.IdExpiredDt" [submit]="enjiForm.submitted">
            </lib-uc-show-errors>
          </div>
          <label class="col-md-2  adins-required-label" translate>Customer Relationship</label>
          <div class="col-md-4">
            <lib-ucdropdownlist [dropdownListObj]="ddlMrCustRelationshipCode" [parentForm]="CustomerContactForm" [enjiForm]="enjiForm"
            [identifier]="'MrCustRelationshipCode'"></lib-ucdropdownlist>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 adins-required-label" translate>Mobile Phone 1 </label>
          <div class="col-md-4">
            <input type="text" class="form-control adInsInput" formControlName="MobilePhnNo1"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerContactForm.controls.MobilePhnNo1.invalid}">
            <lib-uc-show-errors [control]="CustomerContactForm.controls.MobilePhnNo1" [submit]="enjiForm.submitted">
            </lib-uc-show-errors>
          </div>
          <label class="col-md-2 adInsLabel" translate>Mobile Phone 2 </label>
          <div class="col-md-4">
            <input type="text" class="form-control adInsInput" formControlName="MobilePhnNo2"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerContactForm.controls.MobilePhnNo2.invalid}">
            <lib-uc-show-errors [control]="CustomerContactForm.controls.MobilePhnNo2" [submit]="enjiForm.submitted">
            </lib-uc-show-errors>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 adInsLabel" translate>Email</label>
          <div class="col-md-4">
            <input type="text" class="form-control adInsInput" formControlName="Email"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerContactForm.controls.Email.invalid}">
            <lib-uc-show-errors [control]="CustomerContactForm.controls.Email" [submit]="enjiForm.submitted">
            </lib-uc-show-errors>
          </div>
        </div> 
      </div>
      <!-- Address Information -->
      <lib-ucSubsection [id]="'ContactPersonAddressInformation'" [title]="'Contact Address'"
        [panel]="'ContactPersonAddressId'">
      </lib-ucSubsection>
      <div id="ContactPersonAddressId">
        <div class="form-group row">
          <label class="col-md-2" translate>Copy Address From</label>
          <div class="col-md-4">
            <div class="input-group">
              <select class="form-control" formControlName="CopyFromContactPerson">
                <option *ngFor="let item of listCustAddr" [value]="item.CustAddrId">
                  {{item.MrCustAddrTypeCode}}
                </option>
              </select>
              <div class="input-group-append">
                  <span class="input-group-btn">
                      <button class="btn btn-raised btn-primary" type="button" (click)="copyAddress()">
                          <i class="fa fa-check-square-o"></i>&nbsp;<span translate>Copy</span>
                      </button>
                  </span>
                </div>
            </div>
          </div>
        </div>
        <!-- <lib-ucaddress [addressObj]="inputAddressObj" [UCAddrForm]="CustomerContactForm" [enjiForm]="enjiForm" [identifier]="'UcAddress'">
        </lib-ucaddress>  -->
        <lib-ucaddress  [UCAddrForm]="CustomerContactForm" [addressObj]="inputAddressObj" [enjiForm]="enjiForm" [identifier]="'UcAddress'">
        </lib-ucaddress> 
      </div> 
    </div>

    <div class="form-actions right">
      <button type="submit" class="btn btn-raised btn-primary">
        <i class="far fa-check-square"></i>&nbsp;<span translate>Save and Continue</span>
      </button>
    </div>
  </form>
</div>

