.min-h-100 {
    min-height: 100%;
}

.float{
    position:absolute;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    cursor: move;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
    position: relative;
    top: 15px;
    left: 1px;
	margin-top:16px;
	color: white;
}