<div class="card">
  <div class="ucSearch-Button-Right">
    <span class="mr-1">
      <button type="button" class="backButton" [routerLink]="[CancelLink]" skipLocationChange
      [queryParams]="{RefOfficeId:RefOfficeId, CenterGrpId:CenterGrpId}">
        <i class="fa fa-arrow-left"> </i>&nbsp;<span translate>Back</span>
      </button>
    </span>
  </div>
  <div class="card-body">
    <lib-ucviewgeneric [viewGenericObj]="viewGenericObj"></lib-ucviewgeneric>
    <lib-ucaddtotemp *ngIf="tempPagingObj.isReady" [tempPagingObj]="tempPagingObj" (callback)="getListTemp($event)">
    </lib-ucaddtotemp>
    <div class="card-header" *ngIf="listSelectedId.length > 0">
      <div class="text-right">
        <button type="submit" (click)="SaveOfficeGroupMember()" class="btn btn-raised btn-primary">
          <i class="far fa-check-square"></i>&nbsp;<span translate>Save</span>
        </button>
      </div>
    </div>
  </div>
</div>