<div class="bg-light-blue-card">
    <form class="form form-horizontal" [formGroup]="WorkingHourSchmDForm"
      (ngSubmit)="WorkingHourSchmDForm.valid && SaveForm()" #enjiForm="ngForm">
      <div class="form-body">
        <lib-ucSubsection [id]="'WorkingHourSchmDId'" [title]="'Working Hour'" [panel]="'WorkingHourSchmD'">
        </lib-ucSubsection>
        <div id="WorkingHourSchmD">
          <div class="form-group row">
            <label class="col-md-2 text-center label-field-2" translate>Day </label>
            <label class="col-md-4 text-center label-field-2" translate>Working Hour Before Break</label>
            <label class="col-md-4 text-center label-field-2" translate>Working Hour After Break </label>
          </div> 
          <div formArrayName="items">
            <div *ngFor="let item of WorkingHourSchmDForm.controls.items['controls'];let i = index;">
              <div class="form-group row" [formGroupName]="i">
                <label class="col-md-2 text-center label-field-2" translate>{{item.controls.Label.value}}</label>
                <div class="col-md-2" style="border-right: 1px solid grey">
                  <input type="time" class="form-control input-field-2" formControlName="WorkingHourFrom1" (keyup)="onTimeChange($event, item.controls.Label.value + ' From Before Break')">
                </div>
                <div class="col-md-2">
                  <input type="time" class="form-control input-field-2" formControlName="WorkingHourTo1" (keyup)="onTimeChange($event, item.controls.Label.value + ' To Before Break')">
                </div>
                <div class="col-md-2" style="border-right: 1px solid grey">
                  <input type="time" class="form-control input-field-2" formControlName="WorkingHourFrom2" (keyup)="onTimeChange($event, item.controls.Label.value + ' From After Break')">
                </div>
                <div class="col-md-2">
                  <input type="time" class="form-control input-field-2" formControlName="WorkingHourTo2" (keyup)="onTimeChange($event, item.controls.Label.value + ' To After Break')">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions right">
          <button type="button" class="btn btn-raised btn-outline-2 mr-1"
            [routerLink]="[CancelLink]" skipLocationChange>
            <i class="far fa-window-close"></i>&nbsp;<span translate>Cancel</span>
          </button>
          <button type="submit" class="btn btn-raised btn-primary-2">
            <i class="far fa-check-square"></i>&nbsp;<span translate>Save</span>
          </button>
        </div>
      </div>
    </form>
</div>