<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="p-3">
          <div class="d-flex justify-content-between">
            <h4 class="card-title" id="horz-layout-colored-controls" translate>
              Customer Exposure View
            </h4>
            <div>
              <span class="mr-1">
                <button type="button" class="btn btn-raised btn-primary-2" (click)="ReqExposure()">
                  <i class="far fa-check-square"></i>&nbsp;<span translate>Request Exposure</span>
                </button>
              </span>
            </div>
          </div>
        </div>

        <div class="px-3">
          <lib-ucSubsection [id]="'MainInfoId'" [title]="'Main Information'" [panel]="'MainInfo'">
          </lib-ucSubsection>
          <div class="card-body" id="MainInfo">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <label class="label-control"> Customer No </label>
                  </div>
                  <div class="col-md-6">
                    <label class="label-control">
                      <a (click)="openCustView(CustExpsrInfoObj.CustNo)" style="color: #009DA0;">{{ CustExpsrInfoObj.CustNo }}</a>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <label class="label-control"> Customer Name </label>
                    <span id="CustIndicator" style="float: right;">
                      <i [ngClass]="CustExpsrInfoObj.CustIndicator == null ? 'far fa-circle' : CustExpsrInfoObj.CustIndicator != whiteIndicator ? 'fa fa-circle' : 'far fa-circle'"
                      [ngStyle]="{'color': CustExpsrInfoObj.CustIndicator == null ? '' : CustExpsrInfoObj.CustIndicator != whiteIndicator ? CustExpsrInfoObj.CustIndicator : ''}" class="font-medium-3 tooltips">
                        <span class="tooltipstext">
                          <span *ngIf="CustExpsrInfoObj.CustIndicatorDescr != null && CustExpsrInfoObj.CustIndicatorDescr != ''"> {{CustExpsrInfoObj.CustIndicatorDescr}} </span>
                          <span *ngIf="CustExpsrInfoObj.CustIndicatorDescr == null || CustExpsrInfoObj.CustIndicatorDescr == ''"> No Data </span>
                        </span>
                      </i>
                    </span>
                  </div>
                  <div class="col-md-6">
                    <label class="label-control"> {{CustExpsrInfoObj.CustName}} </label>
                  </div>
                </div>
              </div>
          
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <label class="label-control"> Relation With Customer </label>
                  </div>
                  <div class="col-md-6">
                    <label class="label-control"> {{ CustExpsrHObj?.RelationWithCust }} </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <mat-tab-group *ngIf="IsReady">
            <mat-tab label="Customer Exposure">
              <ng-template matTabContent>
                <app-cust-exposure [exposureHObj]="CustExpsrHObj"></app-cust-exposure>
              </ng-template>
            </mat-tab>

            <mat-tab label="Customer Group Exposure">
              <ng-template matTabContent>
                <app-cust-exposure [exposureHObj]="CustExpsrHObj" [exposureType]="ExposureCustGroupTypeCode"></app-cust-exposure>
              </ng-template>
            </mat-tab>
            
            <mat-tab label="Obligor Exposure">
              <ng-template matTabContent>
                <app-obligor-exposure [exposureHObj]="CustExpsrHObj"></app-obligor-exposure>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>

      </div>
    </div>
  </div>
</div>