<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-header header-title">
          <div class="row">
            <div class="col-md-8">
              <h4 class="card-title" id="horz-layout-colored-controls" translate> VERIFICATION QUESTION SCHEME {{mode}}
              </h4>
            </div>
          </div>
        </div>
        <div class="px-3">
          <form class="form form-horizontal" [formGroup]="QuestionSchemeForm"
            (ngSubmit)="QuestionSchemeForm.valid && SaveForm()" #enjiForm="ngForm">
            <lib-ucSubsection [id]="'QuestionSchemeId'" [title]="'Verification Question Scheme'"
              [panel]="'QuestionScheme'">
            </lib-ucSubsection>
            <div class="form-body" id="QuestionScheme">

              <div class="form-group row adins-required">
                <label class="col-md-3  adInsLabel" translate>Scheme Code </label>
                <div class="col-md-3">
                  <input type="text" class="form-control adInsInput width-75-per"
                    [attr.disabled]="mode == 'edit' ? true : null" formControlName="VerfSchemeCode">
                  <lib-uc-show-errors [control]="QuestionSchemeForm.controls.VerfSchemeCode" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>

              <div class="form-group row adins-required">
                <label class="col-md-3  adInsLabel" translate>Scheme Name </label>
                <div class="col-md-3">
                  <input type="text" class="form-control adInsInput width-75-per" formControlName="VerfSchemeName">
                  <lib-uc-show-errors [control]="QuestionSchemeForm.controls.VerfSchemeName" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 adInsLabel adins-required-label" translate>Active Status </label>
                <div class="col-md-9">
                  <input class="border-primary" type="checkbox" 
                    formControlName="IsActive">
                </div>
              </div>

              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-warning mr-1"
                        [routerLink]="[CancelLink]" skipLocationChange>
                  <i class="far fa-window-close"></i>&nbsp;<span translate>Cancel</span>
                </button>
                <button type="submit" class="btn btn-raised btn-primary">
                  <i class="far fa-check-square"></i>&nbsp;<span translate>Save</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
