<div class="form-body">
    <div class="ucSearch-Button-Right">
      <!-- <button type="button" class="addButton" [routerLink]="[AddLinkPersonal]" skipLocationChange
        translate>
        <i class="ft-plus-circle"></i> Add Personal
      </button>
      <button type="button" class="addButton" [routerLink]="[AddLinkCoy]" skipLocationChange translate>
        <i class="ft-plus-circle"></i> Add Company
      </button> -->
      <button type="button" class="addButton" [routerLink]="[AddLinkNewCust]" skipLocationChange>
        <i class="ft-plus-circle"></i>&nbsp;<span translate>Add New Customer</span>
      </button>
    </div>
  </div>  
  <lib-ucpaging [searchObj]="inputPagingObj"></lib-ucpaging>